# Global
build/
tmp/

*.exp

# Visual Studio
src/.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CodeLite
src/.build-*/
src/.codelite/
src/*.txt
*.mk
*.project
*.workspace
Makefile

# Xcode
src/*.xcodeproj/
src/*.xcworkspace/
