# Global
build/
tmp/
bin/*.dll
bin/*.exp
bin/*.exe
bin/*.ilk
bin/*.lib
bin/*.pdb

# Visual Studio
src/.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CodeLite
src/.build-*/
src/.codelite/
src/*.txt
*.mk
*.project
*.workspace
Makefile

# Xcode
src/*.xcodeproj/
src/*.xcworkspace/
