# Global
build/
tmp/
bin/*
!bin/*/
src/bin/x64/
src/bin/x86/
src/bin/ARM/
src/obj/

# Visual Studio
src/.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CodeLite
src/.build-*/
src/.codelite/
src/*.txt
*.mk
*.project
*.workspace
Makefile

# Xcode
bin/*.dSYM/
src/*.xcodeproj/
src/*.xcworkspace/
